* {
    font-family: "Helvetica Neue";
}

p, span {
    font-size: 14px;
}

.summary .info {
    background: #7A7A7A;
    padding: 4px;
}

.summary span {
    padding: 4px;
    display: block;
    color: white;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.details {
    overflow: hidden;
}

.details .subject, .expected {
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    margin-bottom: 1px;
    background: #E4EDF3;
}

.details .value {
    font-weight: normal;
}

.failures .message {
    background: #B03911;
    color: white;
    padding: 10px;
}

.baseline {
    float: left;
}

.current {
    float: right;
}

.current {
    margin-left: 20px;
}

.baseline img {
    height: 500px;
}

.current img {
    height: 500px;
}